@{
    ViewBag.Title = "Stoper";
}

<>
<div id="stopwatch" class="text-center">
    <h1>STOPER</h1>

    <div id="time">
        <h2>
            <span id="min">0</span> :
            <span id="sec">0</span> .
            <span id="ms">000</span>
        </h2>

    </div>

    <div id="controls">
        <button id="startstop" class="btn-lg btn-info">START</button>
        <button id="laptime" class="btn-lg btn-info">LAP TIME</button>
    </div>

    <h3>
        <span id="times">
            Czasy:

        </span>
    </h3>

</div>